<lint-module
    format="1"
    dir="/home/runner/work/QR-Go/QR-Go/src/app"
    name=":app"
    type="APP"
    maven="QR-Go:app:"
    gradle="7.1.2"
    buildFolder="build"
    bootClassPath="/usr/local/lib/android/sdk/platforms/android-31/android.jar:/usr/local/lib/android/sdk/build-tools/30.0.3/core-lambda-stubs.jar"
    javaSourceLevel="1.8"
    compileTarget="android-31"
    neverShrinking="true">
  <lintOptions
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true"/>
  <variant name="release"/>
</lint-module>
